title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[requestform]
==
<?php
use Backend\Models\BrandSetting;
use Zakir\Service\Models\Service;
use Zakir\Faq\Models\Faq;
use Zakir\Feature\Models\Feature;
use Zakir\Plans\Models\Plan;

function onStart() {
    $this['app_name'] = BrandSetting::get('app_name');
    $this['app_location'] = BrandSetting::get('app_location');
    $this['active_url'] = $this->page->url;
    $this['services'] = Service::all();
    $this['faqs'] = Faq::all();
    $this['features'] = Feature::all();
    $this['plans'] = Plan::all();
}
?>
==
<!-- Start Main Banner Area -->
        {% partial 'mainbanner' %}
        <!-- End Main Banner Area -->

        <!-- Start Features Area -->
        {% partial 'features' %}
        <!-- End Features Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <span class="sub-title"><i class="flaticon-care-about-environment"></i> About {{app_name}}</span>
                            <h2>{{ this.theme.about_section_title }}</h2>
                            <p>{{ this.theme.about_section_brif }}</p>

                            <a href="/about-us" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{{ this.theme.about_section_image|media }}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Services Area -->
        <section class="services-area bg-image ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-technical-support"></i>
                        </span>
                        
                        <span>{{app_name}} Services</span>
                    </span>
                    <h2>Explore the next Isp unlimited possibilities</h2>
                </div>

                {% partial 'serviceshome' %}
            </div>
        </section>
        <!-- End Services Area -->

        <!-- Start Pricing Area -->
        <section class="pricing-area ptb-100 extra-mb pb-0">
            <div class="container">
                <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-resume"></i>
                        </span>
                        
                        <span>{{app_name}} Pricing</span>
                    </span>
                    <h2>Discover our best plans</h2>
                    {% flash success %}
                        <p class="text-success h4">{{ message }}</p>
                    {% endflash %}
                    {% flash error %}
                        <p class="text-danger h4">{{ message }}</p>
                    {% endflash %}
                </div>

                {% partial 'pricing' %}
            </div>
        </section>
        <!-- End Pricing Area -->

        <!-- Start FAQ Area -->
        <section class="faq-area bg-image ptb-100 extra-pt">
        {% if faqs|length %}
            <div class="container">
                <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-help"></i>
                        </span>
                        
                        <span>Frequently Questions</span>
                    </span>
                    <h2>Why you should choose <br>our services</h2>
                </div>

                <div class="row">
                    {% for faq in faqs %}
                    <div class="col-lg-6 col-md-12 my-2">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> {{ faq.question }}</a>
                                    <p class="accordion-content">{{ faq.answer }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    {# <div class="col-lg-6 col-md-12">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> What things will be provided by Bahama internet?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> Why we are the best in this fields?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> It’s better to be first in the mind than in the market?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> Positioning is what you do to the prospect?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> The person who will help you from Bahama?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)"><i class="flaticon-add"></i> Why you should choose us than others?</a>
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </li>
                            </ul>
                        </div>
                    </div> #}
                </div>
            </div>
        {% endif %}
        </section>
        <!-- End FAQ Area -->

        <!-- Start CTA Area -->
        <section class="cta-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="cta-content">
                            <h3>Call Us Now For Connect {{app_name}}</h3>
                            <a href="tel:{{ this.theme.contact_number1 }}">{{ this.theme.contact_number1 }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="cta-btn">
                            {# <a href="#" class="btn btn-primary">Check Coverage in Your Area</a> #}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End CTA Area -->
                <div class="modal fade" id="planModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Make a request</h5>
                            <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% component 'requestform' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modalClose" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>